@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: var(--surface-ground);
    color: var(--text-color);
  }

  .p-component {
    --primary-color: var(--primary-dark);
    --text-color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }

  body {
    background-color: var(--surface-ground);
    color: var(--text-color);
  }

  .p-component {
    --primary-color: var(--primary-light);
    --text-color: var(--text-color-light);
  }
}
